<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles by Date Line Chart</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
<div id="chartdiv"></div>
<script>
    am5.ready(function() {
        var root = am5.Root.new("chartdiv");
        root.setThemes([am5themes_Animated.new(root)]);

        var chart = root.container.children.push(am5xy.XYChart.new(root, {}));
        var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, { baseInterval: { timeUnit: "day", count: 1 } }));
        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {}));
        var series = chart.series.push(am5xy.LineSeries.new(root, { xAxis: xAxis, yAxis: yAxis, valueYField: "count", dateXField: "date" }));

        fetch('/articles_by_date')
            .then(response => response.json())
            .then(data => {
                series.data.setAll(data.map(item => ({ date: new Date(item._id), count: item.count })));
            })
            .catch(error => console.error('Error fetching data:', error));
    });
</script>
</body>
</html>
